CONFIG_LV_CONF_SKIP=y
CONFIG_LV_USE_OBSERVER=y
CONFIG_LV_USE_SYSMON=y

CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_LOG_COLORS=y
CONFIG_LOG_TIMESTAMP_SOURCE_RTOS=y

CONFIG_IDF_TARGET="esp32"
CONFIG_IDF_TARGET_ESP32=y

CONFIG_EXAMPLE_LCD_CONTROLLER_GC9A01=y
CONFIG_LV_TFT_DISPLAY_USER_CONTROLLER_GC9A01=y

CONFIG_LV_DISP_BACKLIGHT_OFF=y

CONFIG_LV_DISP_SPI_MOSI=23
# CONFIG_LV_DISPLAY_USE_SPI_MISO is not set
CONFIG_LV_DISP_SPI_CLK=19
CONFIG_LV_DISPLAY_USE_SPI_CS=y
CONFIG_LV_DISP_SPI_CS=22
CONFIG_LV_DISPLAY_USE_DC=y
CONFIG_LV_DISP_PIN_DC=21
CONFIG_LV_DISP_USE_RST=y
CONFIG_LV_DISP_PIN_RST=18