CONFIG_FREERTOS_HZ=1000

CONFIG_ARDUINO_VARIANT="esp32"
CONFIG_ENABLE_ARDUINO_DEPENDS=y
CONFIG_EXAMPLE_LCD_CONTROLLER_GC9A01=y
CONFIG_TFT_GC9A01_DRIVER=y
CONFIG_TFT_WIDTH=240
CONFIG_TFT_HEIGHT=240
CONFIG_TFT_INVERSION_DISABLE=y

CONFIG_TFT_MISO=25
CONFIG_TFT_MOSI=23
CONFIG_TFT_SCLK=19
CONFIG_TFT_CS=22
CONFIG_TFT_DC=21
CONFIG_TFT_RST=18